<div class="container color-dark">
  <div class="col">
    <p>Add your instruction</p>
  </div>
  <div class="col">
    <p>All instructions ({{itemCount}})</p>
  </div>
</div>

<div class="container color-light" [@goals]="goals.length">
  <div class="col">
    <form>
      <input type="text" class="txt" name="item" placeholder="Your instruction" [(ngModel)]="goalText">
      <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let goal of goals; let i = index">
      {{ goal }}
    </p>
  </div>

</div>
